<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">Credit A</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Credit B</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Credit C</a>
    </li>
</ul>