<div>
  <!-- Upper part -->
  <app-navigation-bar></app-navigation-bar>
  
  <!-- Middle part -->
  <div class="jumbotron">
    <h1>Lost in daily transactions? Taxes "eat up" your returns? Have more pressing matters?</h1>
    <hr class="my-4">
    <p class="lead">
      <span>P</span>
      <span>ortfolio app is <u>the place</u> for you!</span>
    </p>
    <p>
      An investment can be as simple as a purchase in your favorite store, consume a couple of hours per month and require only a few taxable operations.
    </p>
    <p>
      The key to maintaining this statement is the <b>Solid Investments</b>.
    </p>
    <ul>
      <li>
        <span><a href="economic_calendar">Economic calendar</a></span>
        <span> - stay up to date with the meaningful economic events across the globe</span>.
      </li>
      <li>
        <span><a href="stock_prices">Stock prices</a></span>
        <span> - pick the right moment to execute your transaction</span>.
      </li>
    </ul>
  </div>
  
  <!-- Bottom part -->
  <app-credits-bar></app-credits-bar>
</div>
