<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Portfolio App</a>
    <button (click)="isCollapsed = !isCollapsed; togglerButtonPressed = true" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <div [class]="togglerButtonPressed ? 'mr-auto d-flex justify-content-center' : 'w-50 mr-auto d-flex justify-content-end'">
        <h2>Welcome, Guest!</h2>
      </div>
      <ul class="navbar-nav mt-2 my-lg-0 d-flex flex-row">
          <li class="nav-item mr-5">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="#">Sign up</a>
          </li>
        </ul>
    </div>
  </nav>