/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

%min-horizontal-adjustment {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

%warning-border {
  @extend .border;
  @extend .border-warning;
  @extend .rounded;
}

%width-no-larger-than-contents {
  @extend %min-horizontal-adjustment;
  display: inline-block;
}