<!-- Upper part -->
<app-navigation-bar></app-navigation-bar>

<!-- Middle part -->
<div *ngIf="!entries || entries.length == 0" class="centered-content">
  <p class="warning-box">
    Sorry, there are no entries to show :-(
  </p>
</div>
<div *ngIf="followups && followups.length > 0 && followupSubject" class="foreground-centered">
    <div class="row">
      <div class="col-sm-4">
        
      </div>
      <div class="col-sm-4 d-flex justify-content-center">
        {{followupSubject}} followups
      </div>
      <div class="col-sm-4 d-flex justify-content-end" (click)="clearFollowups()">
        close
      </div>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Source link</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let followup of followups">
            <td>{{followup.title()}}</td>
            <td><a [href]="followup.link()">{{followup.link() | shortLinkText}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<div *ngIf="entries && entries.length > 0" [class.secondary-visibility]="followups && followups.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Country</th>
        <th scope="col">Date</th>
        <th scope="col">Impact</th>
        <th scope="col">Title</th>
        <th scope="col">Prev</th>
        <th scope="col">Forecast</th>
        <th scope="col">Actual</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of entries" (click)="nextPageFollowup(entry)">
        <td>{{entry.currency()}}</td>
        <td>{{entry.date() | date: 'shortDate'}}</td>
        <td>{{entry.impact()}}</td>
        <td>{{entry.title()}}</td>
        <td>{{entry.previous == undefined ? '---' : entry.previous()}}</td>
        <td>{{entry.forecast == undefined ? '---' : entry.forecast()}}</td>
        <td>{{entry.actual == undefined ? '---' : entry.actual()}}</td>
      </tr>
    </tbody>
  </table>
  <nav class="nav justify-content-center">
    <a class="nav-link" (click)="prevPage()">Previous</a>
    <a class="nav-link" (click)="nextPage()">Next</a>
  </nav>
</div>
<hr class="mb-3">

<!-- Bottom part -->
<app-credits-bar></app-credits-bar>