@import '../styles.scss';

.centered-content {
  @extend .text-center; 
}

.foreground {
  z-index: 2;
  position: absolute;
  background-color: #b2b8ccf2;
}

.foreground-centered {
  @extend .foreground;
  width: 90%;
  margin-top: 2%;
  margin-left: 3.5%;
  padding-left: 5%;
  padding-right: 5%;
}

.secondary-visibility {
  opacity: 0.2;
}

.warning-box {
  @extend %warning-border;
  @extend %width-no-larger-than-contents;
}